/* @import './fonts/FiraCode-VariableFont_wght.ttf'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'PT Mono';
        font-weight: 400;
        font-style: normal;
        src: url('/fonts/PTMono-Regular.ttf') format('ttf');
    }

    html {
        font-family: 'PT Mono', monospace;
    }
}
